.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}
.btn {
  padding: 10px;
  margin: 5px 5px;
  font-size: 30px;
  cursor: pointer;
  background: transparent;
}
.btn:hover {
  background: #2e2e2e;
  color: #fff;
}
